<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

  <link type="text/css" rel="stylesheet" href="css/main.css" />

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>FOCO</title>
</head>

<body>
  <!-- Header start -->
  <header class="main-header">
    <nav class="transparent">
      <div class="container">
        <div class="nav-wrapper">
          <a href="/index" class="brand-logo">FOCO</a>
          <a href="#" data-target="slide-out" class="sidenav-trigger">
            <i class="fa fa-bars"></i>
          </a>
          <ul class="right hide-on-med-and-down">
            <li>
              <a class="active-link" href="/index">Home</a>
            </li>
            <li>
              <a href="/about">About</a>
            </li>
            <li>
              <a href="/suggestion" th:text="${message}">Suggest</a>
            </li>
            <!--<li>-->
              <!--<a href="http://facebook.com">-->
                <!--<i class="fab fa-facebook"></i>-->
              <!--</a>-->
            <!--</li>-->
            <!--<li>-->
              <!--<a href="https://twitter.com">-->
                <!--<i class="fab fa-twitter"></i>-->
              <!--</a>-->
            <!--</li>-->
            <!--<li>-->
              <!--<a href="https://instagram.com">-->
                <!--<i class="fab fa-instagram"></i>-->
              <!--</a>-->
            <!--</li>-->
          </ul>
          <ul class="sidenav" id="slide-out">
            <h4 class="green-text text-darken-4 center">FOCO</h4>
            <li>
              <div class="divider"></div>
            </li>
            <li>
              <a href="/index">
                <i class="fa fa-home grey-text text-darken-4"></i>&nbsp;Home</a>
            </li>
            <li>
              <a href="/about">
                <i class="fa fa-cog grey-text text-darken-4"></i>&nbsp;About</a>
            </li>
            <li>
              <div class="divider"></div>
            </li>
            <li>
              <a href="/suggestion" th:text="${message}">Suggest</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Showcase start -->
    <div class="showcase container">
      <div class="row">
        <div class="col s12 m10 offset-m1 center">
          <br/>
          <h4>The best way to reduce food waste is EAT it</h4>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <a href="/foodInfoForm" class="btn btn-large white green-text col s12 m6"><b>Give Food</b></a>
          <a href="/displayFoodInfo" class="btn btn-large green white-text col s12 m6"><b>Find Food</b></a>
        </div>
      </div>
    </div>
    <!-- Showcase end -->

  </header>
  <!-- Header end -->

  <!-- Section: Food Waste start -->
  <section class="section section-language lighten-4">
  <div class="container">
  <h4 class="center">How <span class="green-text text-darken-1"> FOCO </span>
  Works
  </h4>
  <div class="row">

  <div class="col s12 m4">
    <div class="card medium">
      <div class="card-image waves-effect waves-block waves-light usecase">
        <img src="img/sharefood.png" alt="">
      </div>
      <br/>
      <br/>
      <div class="card-content usecasetext">
        <span class="card-title grey-text text-darken-4" style="text-align: center!important;"><b style="font-size: 17px;font-weight: bold">Share Food</b></span>
        <p>Come across leftovers from a catered event?<br/>
          Share it with the community!</p>
      </div>
    </div>
  </div>

    <div class="col s12 m4">
      <div class="card medium">
        <div class="card-image waves-effect waves-block waves-light usecase">
          <img src="img/givefood.png" alt="">
        </div>
        <br/>
        <br/>
        <div class="card-content usecasetext">
          <span class="card-title grey-text text-darken-4" style="text-align: center!important;"><b style="font-size: 17px;font-weight: bold">Give Food</b></span>
          <p>Have a fridge full of food and you don’t have time to eat?<br/>
            Give it to friends instead of throwing it away!</p>
        </div>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="card medium">
        <div class="card-image waves-effect waves-block waves-light usecase">
          <img src="img/findfood.png" alt="">
        </div>
        <br/>
        <br/>
        <div class="card-content usecasetext">
          <span class="card-title grey-text text-darken-4" style="text-align: center!important;"><b style="font-size: 17px;font-weight: bold">Find Food</b></span>
          <p>Who doesn’t love free food?<br/>
            Find out what’s available in your community!</p>
        </div>
      </div>
    </div>


  </div>
  </div>
  </section>
   <!--Section: Food Waste end -->

  <!-- Footer start -->
  <footer class="page-footer main-footer">
    <div class="footer-copyright">
      <div class="container">
        <a class="white-text left" href="#!">FOCO &copy; 2018</a>
        <a class="white-text right" href="#!">Hanyu & Xiaohang</a>
      </div>
    </div>
  </footer>
  <!-- Footer end -->

  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <script>
    $(document).ready(function () {
      //Init sidenav
      $('.sidenav').sidenav();
      //Init carousel
      $('.carousel.carousel-slider').carousel({
        fullWidth: true,
        indicators: true
      });

      $('.button-collapse').sideNav();
      $('.modal').modal();

    });
  </script>
</body>

</html>
