<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

  <link type="text/css" rel="stylesheet" href="css/main.css" />

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Foco</title>
</head>

<body>
  <!-- Header start -->
  <header class="main-header">
    <nav class="transparent">
      <div class="container">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Foco</a>
          <a href="#" data-target="slide-out" class="sidenav-trigger">
            <i class="fa fa-bars"></i>
          </a>
          <ul class="right hide-on-med-and-down">
            <li>
              <a href="/index">Home</a>
            </li>
            <li>
              <a href="#">Learn</a>
            </li>
            <li>
              <a href="#">About</a>
            </li>
            <li>
              <a href="#">Suggest</a>
            </li>
            <li>
              <a href="http://facebook.com">
                <i class="fab fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="https://instagram.com">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
          </ul>
          <ul class="sidenav" id="slide-out">
            <h4 class="green-text text-darken-4 center">Foco</h4>
            <li>
              <div class="divider"></div>
            </li>
            <li>
              <a href="/index">
                <i class="fa fa-home grey-text text-darken-4"></i>&nbsp;Home</a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-users grey-text text-darken-4"></i>&nbsp;Learn</a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-cog grey-text text-darken-4"></i>&nbsp;About</a>
            </li>
            <li>
              <div class="divider"></div>
            </li>
            <li>
              <a href="#">Suggest</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Showcase start -->
    <div class="showcase container">
        <div class="row">
            <div class="col s12 m10 offset-m1">
                <div class="card">
                    <div class="card-content">
                        <h4 class="center-align" style="color: black">Food Infomation</h4><br/>
                        <form th:action="@{/uploadFoodInfo}" th:object="${foodInfo}" onsubmit="return validate_form(this)" method="post" enctype="multipart/form-data">
                        <div class="row">
                        <div class="form-field col m5 s12">
                            <label for="name">Shared By</label>
                            <input id="name" th:field="${foodInfo.name}" type="text" class="validate">
                        </div>
                        <div class="form-field col m7 s12">
                            <label for="foodType">Food Type, e.g. sandwich</label>
                            <input id="foodType" th:field="${foodInfo.foodType}" type="text" class="validate">
                        </div>
                   		</div>
	                    <div class="row">
	                        <div class="form-field col s12">
	                          <label for="location">Location, e.g. Cornell Tech Tata Second Floor</label>
	                          <textarea id="location" class="materialize-textarea" th:field="${foodInfo.location}"></textarea>
	                        </div>
	                    </div>
	                    <div class="row">
	                        <div class="form-field col s12">
	                          <label for="description">&nbsp;Description, e.g. quality, quantity, use by date</label>
	                          <textarea id="description" class="materialize-textarea" th:field="${foodInfo.description}" style="border: 1px solid;display: block;height: 150px"></textarea>
	                        </div>
	                    </div>
	                    <div class="row">
	                        <div class="form-field col s12">
                                <label>Upload Image<input type ="file" name="file"></label>
	                        </div>
	                    </div>
	                    <div class="form-field center-align">
                            <button class="btn-large waves-effect waves-dark green" style="width: 50%" type="submit">Submit</button>
                        </div><br/>
                    </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Showcase end -->

  </header>
  <!-- Header end -->


  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <script>
    $(document).ready(function () {
      //Init sidenav
      $('.sidenav').sidenav();
      //Init carousel
      $('.carousel.carousel-slider').carousel({
        fullWidth: true,
        indicators: true
      });

      $('.button-collapse').sideNav();
      $('.modal').modal();

    });
    function validate_required(field,alerttxt)
    {
        with (field)
        {
            if (value==null||value=="")
            {alert(alerttxt);return false}
            else {return true}
        }
    }

    function validate_form(thisform)
    {
        with (thisform)
        {
            if (validate_required(name,"Name must be filled out!")==false)
            {name.focus();return false}
            if (validate_required(foodType,"foodType must be filled out!")==false)
            {foodType.focus();return false}
            if (validate_required(location,"location must be filled out!")==false)
            {location.focus();return false}
            if (validate_required(description,"description must be filled out!")==false)
            {description.focus();return false}
            if (validate_required(file,"Image must be filled out!")==false)
            {file.focus();return false}
        }
    }
  </script>
</body>

</html>
